@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500&display=swap');

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 20% 0 20%;
  font-family: 'Shantell Sans', cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 1px 12px;
  align-items: center;
  border: 3px solid black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
}

hr {
  width: 12px;
  transform: rotate(90deg);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.containerDate {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#containerBooks {
  display: flex;
  flex-direction: column;
  justify-self: center;
  list-style: none;
  padding: 0;
  width: 100%;
  border: black solid 3px;
}

#containerBooks li:nth-child(odd) {
  background-color: #e4e4e4;
}

.viewBook {
  display: grid;
  grid-template-columns: auto 30%;
  margin: 0.5vh 1vh 1vh 1vh;
}

.hidden {
  display: none;
}

.line {
  width: 30vh;
  height: 2px;
  background-color: black;
}

button {
  border: 2px solid black;
  box-shadow: 2px 2px;
  font-family: 'Shantell Sans', cursive;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: 100%;
}

.form div {
  display: flex;
  align-items: flex-end;
  width: 60%;
}

.form input {
  border: black solid 3px;
  height: 3vh;
  width: 100%;
  padding-left: 1vh;
  font-weight: 900;
  font-family: 'Shantell Sans', cursive;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.addBook {
  padding: 0.5vh 2vh 0.5vh 2vh;
}

footer {
  display: flex;
  width: 100%;
  border: black solid 3px;
  margin-top: 20vh;
  padding: 1vh;
}
